<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
    <style type="text/css">
        .notransition {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    R&D 3
                </a>
            </div>
            <form class="navbar-form navbar-right">
                检查器: <select id="checker_selector" class="selectpicker">
                </select>
                <div class='form-group'>
                    本地项目目录: <input type="text" id="local_src_dir" class='form-control ' />
                </div>
                <input type="button" class="btn btn-warning " onclick="$('#helpModal').modal({keyboard: false});"
                    value="Help" />
            </form>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top: 50px">
        <h1 class="page-header">List of revisions</h1>
        <div class="row">
            <div class="col-sm-8 col-md-8 main">
                <div style="min-height: 700px;">
                    <table class="table table-bordered table-striped;" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>File</th>
                                <th>Time</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody id="table_container">
                            <!-- 数据填充处 -->
                        </tbody>
                    </table>
                    <div class="text-center">
                        <nav>
                            <ul id="pagination" class="pagination text-center"></ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="sidepanel" class="col-xs-4 col-sm-4 col-md-4" style="right: 15px; ">
                <div class="panel panel-default" >
                    <div class="panel-heading" >
                        <div class="input-group ">
                            <span class="input-group-btn">
                                <button id="check_btn" class="btn btn-success" type="button">
                                    开始检查<i class="glyphicon glyphicon-play"></i>
                                </button>
                            </span>
                            <input id="rev_start" type="text" class="form-control"
                                placeholder="Revision Start">
                            <span class="input-group-addon" >至</span>
                            <input id="rev_end" type="text" class="form-control"
                                placeholder="Revision End" value="head">
                        </div>
                    </div>
                    <div class="panel-body" style="overflow-y: auto;">
                        <div id="log" style="overflow-wrap: break-word;">
                        </div>
                    </div>
                    <div class="progress" style="border-radius: 0; margin-bottom: 0px; height: 7px;" hidden>
                        <div class="progress-bar" style="width: 60%;">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div id="left_time"></div>
                    </div>
                </div>
            </div>
        </div>
</body>
<div class="modal fade" tabindex="-1" id="helpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
                <h4 class="page-header">本工具为定时自动检查指定目录中代码用于找出bug和安全漏洞.</h4>
                <pre><strong>提示 </strong>本工具利用的是第三方的检查工具例如<a href="https://www.viva64.com/en/pvs-studio/">PVS-Studio</a>检查结果与本人无瓜!</pre>
                <p>上方导航栏中的本地项目目录中请填写使用者本机的对应项目的根目录地址（.sln所存在目录）当点击<a>下载原报告文件</a>时用来替换原报告文件的代码地址方便定位</p>
                <p>左边的表格内容为当前版本号对应报告分析，表格从左到右从上到下依次为</p>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="static/img/sample.png" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>File</dt>
                            <dd>检查器查出有误的文件名</dd>
                            <dt>Project</dt>
                            <dd>项目名字</dd>
                            <dt>Time</dt>
                            <dd>检查器完成检查的时间</dd>
                            <dt>Result</dt>
                            <dd>检查器给出的报告</dd>
                            <dd>该文件在检查版本范围内的提交日志</dd>
                        </dl>
                    </div>
                </div>
                <br>
                <p>本工具定时9点， 12点， 15点， 18点， 21点的时候开始检查, 检查区间为配置文件中的起始版本到最新的版本</p>
                <p>也可以直接点击 <kbd>开始检查<i class="glyphicon glyphicon-play"></i></kbd> 按钮来立即执行检查流程,
                    区间为按钮旁边所填的区间范围，填Head表示到最新的一次提交</p>
                <pre><strong>提示 </strong>无论是自动检查还是通过点击 <kbd>开始检查<i class="glyphicon glyphicon-play"></i></kbd> 按钮都会执行所有的检查器进行检查</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>